.teams-card-container {
    display: flex;
    gap: 10;
}

.team-info h6 {
    padding-top: 15px;
    color: #282828;
    text-align: center;
    font-feature-settings: 'liga' off, 'clig' off;

    /* Text/16px/Semibold */
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 26px;
    /* 162.5% */
}

.team-info h1 {
    color: #282828;
    text-align: center;
    font-feature-settings: 'liga' off, 'clig' off;

    /* Heading/03 */
    font-family: Inter;
    font-size: 54px;
    font-style: normal;
    font-weight: 600;
    line-height: 62px;
    /* 114.815% */
    letter-spacing: -1px;
}

.team-info p {
    color: #5F6980;
    text-align: center;
    font-feature-settings: 'liga' off, 'clig' off;

    /* Text/20px/Regular */
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 35px;
    /* 175% */
}

.card-title {
    color: #282828;
    font-feature-settings: 'liga' off, 'clig' off;

    /* Text/18px/Semibold */
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 30px;
    /* 166.667% */
}

.card-text {
    color: #5F6980 !important;
    font-feature-settings: 'liga' off, 'clig' off;
    font-family: Inter;
    font-size: 16px !important;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    /* 137.5% */
}

.social-icons {
    width: 36px;
}

.social-icons-ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 16px;
}

// .teams-card-container {
//     display: grid;
//     grid-template-columns: repeat(4, 1fr);
//     /* Default: 4 cards in one row */
//     gap: 2rem;
//     /* Adjust the gap between cards */
// }

@media (max-width: 992px) {

    /* Laptop screens and smaller */

    /* Tablet screens and smaller */
    .teams-card-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-items: center;
        row-gap: 2rem !important;
        /* 2 cards per row */
    }

    .team-info h1 {
        font-size: 40px;
        margin: 0;
    }

    .team-info h6 {
        font-size: 15px;
        margin: 0;
    }

    .team-info p {
        font-size: 12px;
        margin: 0;
    }
}




@media (max-width: 576px) {

    /* Phone screens and smaller */
    .teams-card-container {
        grid-template-columns: 1fr;
        /* 1 card per row */
        justify-items: center;
    }

    .team-info h1 {
        font-size: 30px;
        line-height: 40px;
        margin: 0;
    }

    .team-info h6 {
        font-size: 13px;
        margin: 0;
    }

    .team-info p {
        font-size: 13px;
        margin: 0;
    }
}