.user-image {
    width: 84px;
    /* Set the size of the image */
    height: 84px;
    /* Ensure it's a square */
    border-radius: 50%;
    /* Makes it circular */
    border: 2px solid #fff;
    /* Optional: Add a border with your desired color */
    object-fit: cover;
    /* Ensures the image fits within the circle */
}


.user-name {
    color: #FFF;
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin: 0;
    margin-left: 20px;
}

.user-email {
    color: #FFF;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 0;
    margin-left: 20px;
}

.edit-btn {
    width: 93px;
    height: 44.876px;
    border-radius: 8px;
    background: #F8F8F8;
    flex-shrink: 0;
    color: #3D3E3E;
    font-family: Poppins;
    font-size: 15px;
    font-style: normal;
    font-weight: 600;
    border: none;
    line-height: normal;
}

.main-content {
    display: flex;
    flex-direction: column;
    min-height: calc(100vh - 100px);
    /* Take full height of the viewport */
}

.reports-section {
    flex-grow: 1;
    /* This will make it take the remaining height */
    border-radius: 13px;
    padding: 0 !important;

    background: linear-gradient(180deg, #FAFAFA 0%, #F7F7F7 100%);
}

.pointy-rectangle {
    width: 262px;
    height: 60px;
    margin-top: 20px;
    background: linear-gradient(90deg, #A5D7FD 0%, #3F81B4 100%);
    clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%);
}

.pointy-rectangle h3 {
    color: #000;
    font-family: Poppins;
    font-size: 24px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    margin: 0;

    margin-left: 30px;
}

.reports-temp-img {
    width: 296px;
    margin-bottom: 19px;
}

.reports-temp-h {
    color: #000;
    font-family: Poppins;
    font-size: 24px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    margin-bottom: 11px;
}

.reports-temp-text {
    color: #636363;
    text-align: center;
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-align: center;
}