* {
    font-family: Poppins;
}

.nav-heading {
    color: #3F81B4;
    margin: 0;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.f-50 {
    color: #434A54;
    font-family: Inter;
    font-size: 50px;
    font-style: normal;
    font-weight: 800;
    line-height: 59px;
    /* 118% */
}

.f-18 {
    color: var(--black-80, #696E76);
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.f-16 {
    color: var(--black-80, #696E76);
    font-family: Poppins;
    font-size: 16px;
    padding: 0;
    font-style: normal;
    font-weight: 500;
    margin: 0 !important;
    // line-height: normal;
}

@media (max-width: 1252px) {
    .f-50 {
        font-size: 40px;
    }

    .f-18 {
        font-size: 15px;
    }

    .f-16 {
        font-size: 12px;
    }
}

@media (max-width: 990px) {
    .f-50 {
        font-size: 30px;
        line-height: 39px;
        text-align: center;
    }

    .f-18 {
        font-size: 15px;
        margin-top: 40px;

    }

    .f-16 {
        font-size: 12px;
    }
}

@media (max-width: 642px) {
    .f-50 {
        font-size: 30px;
        line-height: 39px;
        text-align: center;
    }

    .f-18 {
        font-size: 13px;
        margin-top: 40px;

    }

    .f-16 {
        font-size: 13px;
    }


}


.f-36 {

    color: var(--black-100, #434A54);
    font-family: Poppins;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 133%;
    /* 47.88px */
}

.tumer-p {
    color: var(--black-80, #696E76);
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 154.3%;
    /* 24.688px */
}


@media (max-width: 990px) {

    .tumor-section .f-36 {
        color: var(--black-100, #434A54);
        font-family: Poppins;
        font-size: 20px;
        font-style: normal;
        margin: 0 !important;
        padding: 0 !important;
        font-weight: 700;
        line-height: 133%;
        /* 47.88px */
    }

    .tumer-p {
        color: var(--black-80, #696E76);
        font-family: Poppins;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: 154.3%;
        /* 24.688px */
    }


}