{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- Poppins font  -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
      rel="stylesheet"
    />
    
    <!-- Inter fonts -->

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
      rel="stylesheet"
    />

    <!-- Fav icon  -->
    <link rel="icon" type="image/png" href=" {% static 'neuro_insight_app/images/favicon.png' %}" />

   
    <title>Neuro Insight</title>
    <style>
        .contact-us-sectionn {
          height: 354px;
          width: 100%;
          background-image: url("{% static 'neuro_insight_app/images/contact-us-section.png' %}");
          background-size: cover;
          background-position: center;
          background-repeat: no-repeat;
        }  
        {% if user.is_authenticated %}
        .navbar-nav .nav-link::after {
            bottom: -25px;
        }
        {% endif %}
    </style>
    <link rel="stylesheet" href="{% static 'neuro_insight_app/css/style.css' %}" />
  </head>
  <body>
    <!-- ############################# -->
    <!-- NAVBAR -->
    <!-- ############################# -->

    <nav class="navbar navbar-expand-lg bg-light-blue">
      <div class="container">
        <a class="navbar-brand" href="#">
          <div class="d-flex align-items-center gap-2">
            <img
              width="45"
              height="45"
              src="{% static 'neuro_insight_app/images/neuro_insight_logo.png' %}"
              alt=""
            />
            <h6 class="nav-heading mb-0">Neuro Insight</h6>
          </div>
        </a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNav"
          aria-controls="navbarNav"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div
          class="collapse navbar-collapse justify-content-end"
          id="navbarNav"
        >
          <ul class="navbar-nav gap-5 align-items-center" style=".nav-link::after {bottom: -25px;}">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="{% url 'neuro_insight_app:home_screen' %}">HOME</a>
            </li>
            <li class="nav-item">
              {% if user.is_authenticated %}
                <a class="nav-link" href="{% url 'neuro_insight_app:home' %}">Products</a>
              {% else %}
                <a class="nav-link" href="{% url 'neuro_insight_app:signup' %}">Products</a>
              {% endif %}
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'neuro_insight_app:our_team' %}">Our team</a>
            </li>
    
            {% if user.is_authenticated %}
              <li class="nav-item d-flex align-items-center">
                <div class="user-div d-flex align-items-center">
                  <div class="user-text">
                    <h3 class="user-subtitle mb-0">Admin</h3>
                    <h3 class="user-title mb-0">{{ user.username }}</h3>
                  </div>
                  <div class="dropdown user-dropdown">
                    <button class="btn dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                      <img src="{% static 'neuro_insight_app/images/user-image.svg' %}" alt="User">
                    </button>
                    <ul class="dropdown-menu">
                      <li>
                        <a class="dropdown-item" href="{% url 'neuro_insight_app:dashboard' %}">
                          <img width="20" style="margin-right: 5px;" src="{% static 'neuro_insight_app/images/user.png' %}" alt="">
                          User Profile
                        </a>
                      </li>
                      <li>
                        <a class="dropdown-item" href="{% url 'neuro_insight_app:logout' %}">
                          <img width="20" style="margin-right: 5px;" src="{% static 'neuro_insight_app/images/logout.png' %}" alt="">
                          Logout
                        </a>
                      </li>
                    </ul>
                  </div>
                </div>
              </li>
            {% else %}
              <li class="nav-item">
                <button class="btn nav-btn" onclick="window.location.href='{% url 'neuro_insight_app:signup' %}'">
                  SIGN UP
                </button>
              </li>
            {% endif %}
          </ul>
        </div>
      </div>
    </nav>

    <!-- ############################# -->
    <!-- Landing page  -->
    <!-- ############################# -->

    <section class="landing-page d-flex align-items-center">
      <div
        class="container landing-page-left d-flex flex-column align-items-start gap-3 gap-lg-4"
      >
        <!-- Heading and button -->
        <h3 class="f-18" data-aos="fade-down">Brain MRI Analysis + Report generation</h3>
        <h1 class="f-50" data-aos="fade-right">
          Transforming Brain <span style="color: #3f81b4">MRI</span> <br />
          Analysis with AI
        </h1>
        <!-- Features with equal spacing -->
        <div class="features-container-1" data-aos="flip-up" data-aos-duration="1000">
          <div class="features">
            <img
              width="20"
              height="20"
              src="{% static 'neuro_insight_app/images/Tick Square.png' %}"
              alt=""
            />
            <h3 class="f-16">Cancer Detection with High Precision</h3>
          </div>
          <div class="features">
            <img
              width="20"
              height="20"
               
              src="{% static 'neuro_insight_app/images/Tick Square.png' %}"
              alt=""
            />
            <h3 class="f-16">Interactive Report Generator</h3>
          </div>
        </div>
        <div class="features-container-2" data-aos="flip-up" data-aos-duration="2000">
          <div class="features">
            <img
              width="20"
              height="20"
              src="{% static 'neuro_insight_app/images/Tick Square.png' %}"
              alt=""
            />
            <h3 class="f-16">Detailed Tumor Segmentation</h3>
          </div>
          <div class="features">
            <img
              width="20"
              height="20"
              src="{% static 'neuro_insight_app/images/Tick Square.png' %}"
              alt=""
            />
            <h3 class="f-16">Personalized Tumor Classification</h3>
          </div>
        </div>
        <div class="btn-container" data-aos="fade-up">
          <a href="" style="text-decoration: none;">
            <button class="btn btn-landing">
              Analyze MRI Scan
              <img
             
          src=" {% static 'neuro_insight_app/images/Arrow - Right Circle.png' %}"
          alt="Arrow Icon"
          width="20"
          height="20"
            onclick="this.style.marginRight='8px'"
              />
            </button>
          </a>
          <img
            class="tilde"
             
            src="{% static 'neuro_insight_app/images/tilde.png' %}"
            alt="Tilde Icon"
            width="30"
            height="30"
          />
        </div>
      </div>

      <!-- Background Image -->

      <div class="landing-page-image-container" >
        <img data-aos="fade-up-left"
       
          src=" {% static 'neuro_insight_app/images/hero.svg' %}"
          alt="Landing Page Image"
          class="landing-page-image"
        />
      </div>
    </section>

    <!-- ############################# -->
    <!-- University section  -->
    <!-- ############################# -->

    <section class="university-section">
      <div class="d-flex justify-content-center">
        <h1 class="f-50">Data provided by</h1>
      </div>
      <div class="logos">
        <div class="logos-slide">
      
          <img src="  {% static 'neuro_insight_app/images/universities-logos/Harvard-Logo.png' %}" />
          <img src="{% static 'neuro_insight_app/images/universities-logos/images.png' %}" />
          <img src="{% static 'neuro_insight_app/images/universities-logos/MIT-Logo.png' %}" />
          <img
            src="   {% static 'neuro_insight_app/images/universities-logos/The_University_of_California_UCLA.svg.png' %}"
          />
            
          <img
            src=" {% static 'neuro_insight_app/images/universities-logos/University_of_Washington_seal.svg.png' %}"
          />
        </div>
      </div>
    </section>

    <!-- ############################# -->
    <!-- TUMOR SECTION -->
    <!-- ############################# -->
    <section
      class="tumor-section d-flex justify-content-between align-items-center"
    >
      <div class="container">
        <!-- Row for the columns -->
        <div class="row d-flex justify-content-between">
          <div class="col-lg-6">
            <h1 class="f-36 mb-lg-5">What is Brain Tumor?</h1>
            <p class="mt-lg-3 tumer-p">
              A brain tumor is an abnormal growth of cells in or around the
              brain, 
              which can <br /> be benign or malignant. MRI scans, enhanced by deep
              learning, 
              play a crucial role  in detecting tumors by identifying subtle
              abnormalities with high accuracy. <br />
              <br />
              Treatment options include surgery, radiation, and chemotherapy,
              depending on the tumor's type and location.
            </p>
          </div>

          <!-- YouTube Video Embed -->
          <div class="col-lg-6 vid-frame" d-flex justify-content-left data-aos="zoom-in">
            <iframe
              width="100%"
              height="100%"
              src="https://www.youtube.com/embed/RQsUeoVHJl4?si=Tb9dAFBYpKgzkGBH"
              title="YouTube video player"
              frameborder="0"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
              referrerpolicy="strict-origin-when-cross-origin"
              allowfullscreen
            >
            </iframe>
          </div>
        </div>
      </div>
    </section>

    <!-- ############################# -->
    <!-- Problems section -->
    <!-- ############################# -->

    <section class="problem-section container" >
      <div class="problem-container row gap-lg-3 gap-xl-3" data-aos="fade-up"
      data-aos-duration="`3000">
        <div class="problem-1 col">
         
          <h1 class="problem-h">Current methods being used in healthcare</h1>
          <img class="problem-img" src="{% static 'neuro_insight_app/images/problem-1.png' %}" alt="" />
          <p class="problem-p">
            Traditional Methods Involves Manual Segmentation OF MRI scans by a
            technician, followed by a doctor’s Visual Examination to identity
            humors, This process relies heavily on human expertise making it
            challenging to achieve accurate and consistent results
          </p>
        </div>
       
        <div class="problem-2 col">
          <h1 class="problem-h">The Problems In Current Methods</h1>
          <img class="problem-img" src=" {% static 'neuro_insight_app/images/problem-2.png' %}" alt="" />
          <p class="problem-p">
            Human error and bias can lead to inconsistent or incorrect diagnosis
            , which can have severe consequences for patients. moreover, Manual
            Segmentation is a labor process that requires significant expertise
            making it difficult to scale and increasing the likelihood of errors
          </p>
        </div>
         
        <div class="problem-3 col">
          <h1 class="problem-h">Neuro Insight: Our Proposed Solution</h1>
          <img class="problem-img" src="{% static 'neuro_insight_app/images/problem-3.png' %}" alt="" />
          <p class="problem-p">
            Neuro Insight aims to overcome these defects by automating the
            segmentation and tumor detection process using machine learning
            algorithms.
            Our model can learn to accurately identity tumors and segment them
            into sub regions, reducing the need for manual intervention.
          </p>
        </div>
      </div>
    </section>

    <!-- ############################# -->
    <!-- Features SECTION -->
    <!-- ############################# -->

    <section class="features-section py-3">
      <div class="container text-center mb-5">
        <h1 class="feature-h">
          Your <span style="color: #3f81b4">MRI</span>, We analyze.
        </h1>
        <p class="feature-p">
          Your brain MRI holds the key to your health. So, what does it reveal?
          Find out with AI-powered reports covering topics like :
        </p>
      </div>

      <div class="container">
        <div class="row align-items-center">
          <div class="col-lg-6" data-aos="zoom-in">
            <img
            
              src="{% static 'neuro_insight_app/images/features.svg' %}"
              alt="Features"
              class="img-fluid"
            />
          </div>
          <div class="col-lg-6">
          
            <div data-aos="flip-up" data-aos-duration="" class="feature" id="feature-1" >
              <img class="feature-img"  src="{% static 'neuro_insight_app/images/features/feature-1.svg' %}" alt="">
              <h3 class="feature-text">Tumor Presence</h3>
            </div>
            <div data-aos="flip-up" data-aos-duration="500" class="feature" id="feature-2" >
              <img class="feature-img"  src="{% static 'neuro_insight_app/images/features/feature-5.svg' %}" alt="">
              <h3 class="feature-text">Tumor Classification</h3>
            </div>
            <div data-aos="flip-up" data-aos-duration="1000" class="feature" id="feature-3" >
                
              <img class="feature-img" src="{% static 'neuro_insight_app/images/features/feature-3.svg' %}" alt="">
              <h3 class="feature-text">Tumor Sub-Region Analysis</h3>
            </div>

            <div data-aos="flip-up" data-aos-duration="1500" class="feature" id="feature-4" >
              <img class="feature-img"  src="{% static 'neuro_insight_app/images/features/feature-4.svg' %}" alt="">
              <h3 class="feature-text">Brain Health Insights</h3>
            </div>
            <div data-aos="flip-up" data-aos-duration="2000" class="feature" id="feature-5" >
              <img class="feature-img"  src="{% static 'neuro_insight_app/images/features/feature-2.svg' %}" alt="">
              <h3 class="feature-text">Personalized Recommendations</h3>
            </div>
          </div>

            <!-- <h2 class="f-36 mb-4">Our Features</h2>
            <div class="features-list">
              <div class="feature-item d-flex align-items-center mb-4">
                <img
                
                  src="{% static 'neuro_insight_app/images/Tick Square.png' %}"
                  width="24"
                  height="24"
                  class="me-3"
                  alt="tick"
                />
                <div>
                  <h4 class="f-20 mb-2">Automated Analysis</h4>
                  <p>
                    Advanced AI algorithms for quick and accurate tumor
                    detection
                  </p>
                </div>
              </div>
              <div class="feature-item d-flex align-items-center mb-4">
                <img
                  src="{% static 'neuro_insight_app/images/Tick Square.png' %}"
                  width="24"
                  height="24"
                  class="me-3"
                  alt="tick"
                />
                <div>
                  <h4 class="f-20 mb-2">Detailed Reports</h4>
                  <p>
                    Comprehensive analysis with visualizations and measurements
                  </p>
                </div>
              </div>
              <div class="feature-item d-flex align-items-center">
                <img
                  src="{% static 'neuro_insight_app/images/Tick Square.png' %}"
                  width="24"
                  height="24"
                  class="me-3"
                  alt="tick"
                />
                <div>
                  <h4 class="f-20 mb-2">Real-time Processing</h4>
                  <p>Instant results for faster medical decisions</p>
                </div>
              </div>
            </div> -->
          </div>
        </div>
      </div>
    </section>

    <!-- ############################# -->
    <!-- Mockup section -->
    <!-- ############################# -->

    <section class="landing-page d-flex align-items-center" style="background-color: #fff;">
      <div 
        class="container landing-page-left d-flex flex-column align-items-start gap-3 gap-lg-4"
      >
        
        <h1 class="mockup-h" data-aos="fade-right">
          Revolutionizing Brain Tumor <br> Analysis with AI Precision
        </h1>
        <p class="mockup-p" data-aos="fade-right">
          1. Experience advanced AI-powered brain tumor <br> detection for quick and accurate results.
          <br>
<br>
2. Easily segment and classify tumors with precision- <br> driven technology.
<br>
<br>

3. Generate detailed medical reports in seconds for <br> effective diagnosis and treatment.
<br>
<br>
4. Simplify complex medical analysis with an intuitive <br> and user-friendly interface.
        </p>
        <div class="btn-container" data-aos="fade-up">
            <a href="" style="text-decoration: none;">
            <button class="btn btn-landing">
              Try now
              <img
            
              src="  {% static 'neuro_insight_app/images/Arrow - Right Circle.png' %}"
              alt="Arrow Icon"
              width="20"
              height="20"
              class="me-2"
              />
            </button>
            </a>
          <img
           
            class="tilde"
            src=" {% static 'neuro_insight_app/images/tilde.png' %}"
            alt="Tilde Icon"
            width="30"
            height="30"
          />
        </div>
      </div>

      <!-- Background Image -->

      <div class="landing-page-image-container" >
        <img data-aos="fade-up-left"
        style="width: 800px;"
         
          src="{% static 'neuro_insight_app/images/mockup.svg' %}"
          alt="Landing Page Image"
          class="landing-page-image"
        />
      </div>
    </section>

    
    
    <!-- ############################# -->
    <!-- Contact us page -->
    <!-- ############################# -->
    
    
    <section
      class="contact-us-sectionn d-flex justify-content-between align-items-center"
    >
      <div class="container py-2">
        <!-- Row for the columns -->
        <div class="row ">
          <div class="col-lg-6 contact-left-div">
            <h1 class="contact-h">Know more about us</h1>
            <p class="contact-p">
              Click on links below to know more about Neuro Insight. 
            </p>
            <div>
              <div class="d-flex px-4 gap-5 mt-4 social-icons">
              
                <a href="https://mail.google.com/mail/u/0/#inbox" class="text-decoration-none">
                  <img src="{% static 'neuro_insight_app/images/email.svg' %}" alt="Instagram" width="50" height="50">
                </a>
               
                <a href="https://www.youtube.com/" class="text-decoration-none">
                  <img src=" {% static 'neuro_insight_app/images/youtube.svg' %}" alt="Facebook" width="50" height="50"> 
                </a>
                 
                <a href="https://www.linkedin.com/" class="text-decoration-none">
                  <img src="{% static 'neuro_insight_app/images/linkedin.svg' %}" alt="Twitter" width="50" height="50">
                </a>
              </div>
            </div>
          </div>

         
          <div class="col-lg-6 contact-img-div">
           <img class="contact-us-img" src="{% static 'neuro_insight_app/images/contact-us.svg' %}" alt="">
          </div>
        </div>
      </div>
    </section>



   

    <!-- ############################# -->
    <!-- FOOTER -->
    <!-- ############################# -->



    <footer class="bg-white mt-3 py-3">
      <div class="container">
        <div class="row">
          <!-- Logo and Description Column -->
          <div class="col-lg-4 col-md-12 mb-4">
            <div class="d-flex align-items-center gap-2 mb-3">
              <img
                width="45"
                height="45"
               
                src=" {% static 'neuro_insight_app/images/neuro_insight_logo.png' %}"
                alt="Logo"
              />
              <h6 class="nav-heading">Neuro Insight</h6>
            </div>
            <p class="footer-p">
              Transforming brain tumor analysis <br> through innovative AI solutions
              and <br> medical expertise.
            </p>
          </div>

          <!-- Useful Links Column -->
          <div class="col-lg-4 col-md-12 mb-4">
            <h5 class="mb-3 footer-sm-heading">Useful Links</h5>
            <ul class="list-unstyled">
              <li>
                <a href="" class="text-decoration-none mb-2 footer-links"
                  >Home</a
                >
              </li>
              <li>
                <a href="" class="text-decoration-none mb-2 footer-links"
                  >Products</a
                >
              </li>
              <li>
                <a href="" class="text-decoration-none mb-2 footer-links"
                  >Our Team</a
                >
              </li>
              <li>
                <a href="" class="text-decoration-none mb-2 footer-links"
                  >Sign Up</a
                >
              </li>
            </ul>
          </div>

          <!-- Contact Column -->
          <div class="col-lg-4 col-md-12 mb-4">
            <h5 class="mb-3 footer-sm-heading">Contact Us</h5>
            <ul class="list-unstyled">
              <li> 
              
                <div class="d-flex gap-2 mb-2"><img src="{% static 'neuro_insight_app/images/footer-email.svg' %}" alt="">
                  <p class="footer-address"> info@neuroinsight.com</p>
                </div></li>
                <li> 
               
                  <div class="d-flex gap-2"><img src=" {% static 'neuro_insight_app/images/footer-mark.svg' %}" alt="">
                    <p class="footer-address"> Mianwali, Punjab, Pakistan</p>
                  </div></li>
            </ul>
          </div>
          <hr class="footer-line">
          <div class="d-flex justify-content-center">
            <h3 class="copy-right-heading">Copyright © 2025 </h3>
          </div>
        </div>
      </div>
    </footer>
    
   
    <script src=" {% static 'neuro_insight_app/bootstrap5/js/bootstrap.bundle.js' %}"></script>
    <!-- AOT LIBRARY  -->
    {% comment %} <script src="assets/aos_library/js/aos.js"></script>
    <script>
      AOS.init();
    </script> {% endcomment %}
    <script>
      var copy = document.querySelector(".logos-slide").cloneNode(true);
      document.querySelector(".logos").appendChild(copy);
    </script>
  </body>
</html>

{% endblock %}
